.popoverContainer {
  position: relative;
  display: flex;
}

.popoverContent {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  padding-top: 8px;
  border-radius: 10px;
}

.popoverContentTop {
  bottom: 100%;
}

.popoverContentBottom {
  top: 100%;
}
