.button-box {
  display: flex;
  gap: 14px;
}

.download {
  height: 43px;
  border-radius: 40px;
  background-color: inherit;
  color: #f0f6fc;
  font-size: 14px;
  border: solid #f0f6fc;
  border-width: 2px 0.5px;
  padding: 12px 24px;

  &:hover {
    background-color: #f6f8fa;
    color: #212830;
    border: solid #f0f6fc;
    border-width: 2px 0.5px;
  }

  &:active {
    background-color: #d1d9e0;
  }

  :global(.oo-btn) {
    &:hover {
      border: solid #f0f6fc;
    }
  }
}

.windowsBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.windowsSubtitle {
  font-size: 13px;
  margin-top: 4px;
  color: #ccccccb2;
}

.icon {
  font-size: 16px;
  padding-left: 12px;
  color: #838b95;
}

.popoverBox {
  height: 70px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #0d1117;
  border-radius: 10px;
  padding: 12px 16px;
  color: #838b95;
  box-shadow: 0px 0px 50px 0px #01040980;

  a {
    text-decoration: none;
  }
}

.popoverLink {
  width: 100%;
  height: 17px;
  display: flex;
  align-items: center;
  transition: color 0.2s ease;
  font-weight: 600;
  font-size: 14px;
  color: #838b95;

  &:hover {
    cursor: pointer;
    transition: color 0.2s ease;

    color: #f0f6fc;

    .icon {
      background-color: #f0f6fc;
    }
  }
}
