@use "../../css/custom.scss" as *;

.assetBlock {
  position: relative;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 1px solid var(--oomol-border-default);

  &:hover {
    .cornerIcon {
      opacity: 1;
    }
  }
}

.cornerIcon {
  position: absolute;
  display: flex;
  bottom: 8px;
  right: 8px;
  font-size: 16px;
  font-weight: 400;
  color: var(--oomol-text-primary);
  cursor: pointer;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  background-color: var(--oomol-bg-elevated);
  border-radius: 4px;
  opacity: 0;

  svg {
    width: 100%;
    height: 100%;
  }
}

.centerContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerText {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  color: var(--oomol-text-primary);
}
