@use "../../css/custom.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 16px;
  scroll-behavior: smooth;
}

.titleBox {
  width: 100%;
  max-width: 600px;
  min-height: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 14px;
  padding: 80px 0;
  position: relative;
}

.title {
  display: flex;
  align-items: center;
  font-size: 58px;
  line-height: 58px;
  font-weight: 800;
  text-align: center;
  color: #f0f6fc;
}

.subTitle {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  @include linearGradientColor;
}

.scrollBox {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
  gap: 40px;
  padding: 80px 0;

  @media (max-width: 1199px) {
    flex-direction: column;
    .sidebar {
      display: none;
    }
    .content {
      width: 100%;
      padding: 0;
    }
  }
}

.sidebar {
  position: sticky;
  top: 80px;
  width: 320px;
  box-sizing: border-box;
  flex-direction: column;
}

.sideBarWrapper {
  display: block;
  color: #f0f6fc;
  font-size: 16px;
  transition: color 0.3s ease;

  &:hover {
    color: #7d7fe9;
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }
}

.sidebarActive {
  .sidebarText,
  .sidebarIcon {
    color: #7d7fe9;
  }
}

.sidebarItem {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 40px;
  gap: 20px;
  vertical-align: middle;
}

.sidebarIcon {
  width: 24px;
  height: 24px;
  font-weight: 400;
  margin-left: 8px;
  vertical-align: middle;
  color: #838b95;
}

.sidebarText {
  height: 24px;
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  color: #838b95;

  &:hover {
    color: #f0f6fc;
  }
}

.content {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.section {
  width: 100%;
  scroll-margin-top: 80px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.sectionTitle {
  font-weight: 800;
  font-size: 32px;
  line-height: 32px;
  color: #f0f6fc;
  vertical-align: middle;
  text-align: left;
}

.sectionContentMultiple {
  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  grid-template-rows: repeat(2, min-content);
  height: min-content;
  justify-content: center;
  position: relative;
  width: 100%;
  overflow: visible;
  line-height: 24px;
  font-weight: 400;
  color: #f0f6fc;
  text-align: left;
  gap: 40px;

  @media (max-width: 800px) {
    grid-template-columns: repeat(1, minmax(100px, 1fr));
  }
}

.sectionContentSingle {
  display: grid;
  grid-auto-rows: min-content;
  height: min-content;
  position: relative;
  width: 100%;
  overflow: visible;
  line-height: 24px;
  font-weight: 400;
  color: #f0f6fc;
  text-align: left;
  gap: 40px;
}

i.icon {
  cursor: pointer;
}
