.container {
  min-width: 256px;
  height: 43px;
  border-radius: 4px;
  padding: 12px 24px;
  border: 1px solid var(--oomol-border-default);
  background-color: transparent;
  cursor: pointer;
}

.container:hover {
  border-color: var(--oomol-primary);

  .linkIcon {
    color: var(--oomol-primary);
  }

  .linkText {
    color: var(--oomol-primary);
  }
}
.container:active {
  background-color: var(--oomol-hover-bg);
  color: var(--oomol-text-primary);

  .linkIcon {
    color: var(--oomol-text-primary);
  }

  .linkText {
    color: var(--oomol-text-primary);
  }
}

.linkIcon {
  width: 18px;
  height: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: var(--oomol-text-primary);
  cursor: pointer;
  margin-right: 12px;
}

.linkText {
  height: 18px;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  vertical-align: middle;
  color: var(--oomol-text-primary);
  white-space: nowrap;
}

.linkBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: var(--oomol-text-primary);
}
