.container {
  min-width: 256px;
  height: 43px;
  border-radius: 4px;
  padding: 12px 24px;
  border: 1px solid #3d444d;
  background-color: transparent;
  cursor: pointer;
}

.container:hover {
  border-color: #7d7fe9;

  .linkIcon {
    color: #7d7fe9;
  }

  .linkText {
    color: #7d7fe9;
  }
}
.container:active {
  background-color: #d1d9e0;
  color: #212830;

  .linkIcon {
    color: #212830;
  }

  .linkText {
    color: #212830;
  }
}

.linkIcon {
  width: 18px;
  height: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #f0f6fc;
  cursor: pointer;
  margin-right: 12px;
}

.linkText {
  height: 18px;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  vertical-align: middle;
  color: #f0f6fc;
  white-space: nowrap;
}

.linkBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #f0f6fc;
}
