.oo-btn {
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--oomol-primary);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: var(--oomol-white);
  padding: 0 8px;

  &:hover {
    border: 1px solid var(--oomol-primary);
    color: var(--oomol-primary);
    background-color: var(--oomol-primary-bg);
  }

  > a {
    text-decoration: none;
    color: inherit;
  }
}

.btnDisable {
  background-color: var(--oomol-fill-tertiary);
  opacity: 0.7;
  height: 36px;
  border: none;
  border-radius: 4px;
  cursor: not-allowed;
  transition: background-color 0.3s;
  color: var(--oomol-text-disabled);

  > a {
    text-decoration: none;
    color: inherit;
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 6px;
}
