@use "../../css/custom.scss" as *;

.sectionTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 14px;
  font-size: 48px;
  line-height: 48px;
  font-weight: 800;
  margin-top: 64px;
  @include phone {
    margin-top: 0;
  }

  @include phone-middle {
    margin-top: 0;
  }

  @include phone-large {
    margin-top: 0;
  }
}

.sectionSubtitle {
  max-width: 640px;
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  padding-top: 14px;
  margin-bottom: 40px;
  @include linearGradientColor;
}

.sectionInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 64px;
}

.sectionCell {
  max-width: 1280px;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 37px;
  max-width: 1280px;
  margin-top: 40px;
}

@media (max-width: 1280px) {
  .sectionCell {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .create-scenes-mid {
    padding: 0 24px;
  }
}

@media screen and (max-width: 960px) {
  .sectionCell {
    width: 100%;
    height: 100%;
  }
}

.createScenes {
  width: 100%;
  padding-bottom: 56px;
}

.create-scenes-mid {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  @include desktop {
    padding: 0 24px;
  }

  @include phone {
    padding: 0 24px;
  }

  @include phone-middle {
    padding: 0 24px;
  }

  @include phone-large {
    padding: 0 24px;
  }
}

.createScenesText {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.createScenesImage {
  flex: 1;
  border-radius: 8px;
  overflow: hidden;

  @include phone {
    padding-top: 36px;
  }

  @include phone-middle {
    padding-top: 36px;
  }

  @include phone-large {
    padding-top: 36px;
  }
}

.createScenesTextTitle {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 24px;
  font-weight: 900;
  color: var(--oomol-text-primary);
}

.createScenesTag {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 4px 16px;
  margin-bottom: 14px;
  font-size: 12px;
  font-weight: 500;
  color: var(--oomol-text-primary);
  background-color: var(--oomol-bg-elevated);
  border-radius: 100px;
  text-align: center;
  overflow: hidden;
  border: none;
  white-space: nowrap;
  width: max-content;
}

.createScenesTag::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  padding: 1.5px;
  background: linear-gradient(
    127.66deg,
    #0d1116 0%,
    #987de9 15%,
    #7d7fe9 39%,
    #ffffff 62%,
    #7da6e9 86%,
    #0d1116 100%
  ); /* 渐变背景 */
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  box-sizing: border-box;
}

.createScenesTextInner {
  margin-top: 14px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  color: var(--oomol-text-secondary);
}

.video {
  max-width: 1280px;
  border-radius: 10px;
}
