@import "../../css/custom.scss";

.sectionTitle {
  font-size: 36px;
  margin-top: 60px;
  margin-bottom: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  @include phone {
    margin-top: 0;
  }

  @include phone-middle {
    margin-top: 0;
  }

  @include phone-large {
    margin-top: 0;
  }
}

.sectionInner {
  display: flex;
  flex-direction: column;
}

.sectionCell {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 36px;
}

@media screen and (max-width: 960px) {
  .sectionCell {
    width: 100%;
    height: 100%;
  }
}

.scenes {
  width: 100%;
  padding-bottom: 64px;
}

.scenes-mid {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 120px;

  @include phone {
    padding: 0 24px;
  }

  @include phone-middle {
    padding: 0 24px;
  }

  @include phone-large {
    padding: 0 24px;
  }
}

.scenesText {
  width: 480px;
  box-sizing: border-box;
}

.scenesImage {
  width: 540px;
  border-radius: 8px;
  overflow: hidden;

  @include phone {
    padding-top: 36px;
  }

  @include phone-middle {
    padding-top: 36px;
  }

  @include phone-large {
    padding-top: 36px;
  }
}

.scenesTextTitle {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.scenesTag {
  margin-top: 2px;
  font-size: 12px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #383970;
  margin-left: 8px;
  border-radius: 4px;
}

.scenesTextInner {
  margin-top: 12px;
  font-size: 16px;
  margin-bottom: 20px;
}
