.sectionTitle {
    height: 160px;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sectionInner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.sectionCell {
    width: 400px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 24px 48px;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.30);
}

@media screen and (max-width: 960px) {
    .sectionCell {
        width: 100%;
        height: 100%;
    }
}

.scenes {
    width: 100%;
    padding-bottom: 64px;
    background-color: rgb(249, 249, 249);
}

.scenesText {
}

.scenesTextTitle {
    margin-top: 12px;
    font-size: 18px;
}

.scenesTextInner {
    margin-top: 8px;
    font-size: 14px;
    margin-bottom: 20px;
    padding-left: 12px;
    padding-right: 12px;
}
