@import "../../css/custom.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overview {
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  color: #f0f6fc;
}

.description {
  font-size: 14px;
  font-weight: 400;
  color: rgba(240, 246, 252, 0.7);
}

.downloads {
  display: flex;
  gap: 12px;
  padding: 40px 0;
}

.download-btn {
  width: 240px;
  height: 40px;
  background-color: #0d1116;
  border: solid 1px #3d444d;
  border-radius: 8px;
}

.overview-blur-fade {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 120px;
  height: 120px;
}

.icon {
  font-size: 18px;
}

@media (max-width: 768px) {
  .downloads {
    flex-direction: column;
  }
}
