.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: 30px;
  color: #f0f6fc;
  font-weight: 900;
  padding-top: 40px;
  padding-bottom: 60px;
}

.pricing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 413px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding: 20px;
  text-align: left;
  transition: transform 0.3s ease;
  background-color: #0d1116;
  border: 1px solid #3d444d;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.card-title,
.price {
  font-size: 20px;
  font-weight: 900;
  color: #f0f6fc;
}

.card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tag {
  height: 22px;
  display: flex;
  align-items: center;
  font-size: 12px;
  border: 1px solid #3d444d;
  border-radius: 100px;
  padding: 4px 16px;
}

.pro {
  .btn {
    background-color: #7d7fe9;
    color: #f0f6fc;
  }
}

.pro::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(
    105.32deg,
    #0d1116 -6.87%,
    #987de9 10.42%,
    #7d7fe9 38.09%,
    #ffffff 64.61%,
    #7da6e9 92.28%,
    #0d1116 108.42%
  );
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
  box-sizing: border-box;
}

.card h2 {
  margin-bottom: 10px;
}

.card ul {
  list-style: none;
  padding: 0;
}

.card li {
  margin: 5px 0;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}

.top-up-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.top-up {
  height: 208px;
}

.btn {
  width: 100%;
  height: 41px;
  background-color: #0d1116;
  border: 1px solid #3d444d;
  border-radius: 8px;

  &:hover {
    background-color: #7d7fe9;
    color: #f0f6fc;
  }
}

.check {
  font-size: 20px;
  color: #73c991;
}

.option {
  display: flex;
  align-items: center;
  gap: 12px;
  color: rgba(240, 246, 252, 0.7);
}
