@use "../../css/custom.scss" as *;

.container {
  width: 100%;
  min-height: 365px;
  display: flex;
  justify-content: center;
  padding: 80px 0;
}

.content {
  position: relative;
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  padding: 0 40px;
}

.textBox {
  flex: 1;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo {
  width: 80px;
  height: 80px;
  margin-bottom: 24px;
}

.title {
  font-size: 48px;
  font-weight: 800;
  color: var(--oomol-text-primary);
  margin-bottom: 14px;
}

.subtitle {
  display: inline-block;
  max-width: 640px;
  font-size: 20px;
  padding-bottom: 40px;

  @include linearGradientColor;
}

.imageWrapper {
  position: relative;
  width: 420px;
  padding-top: 31px;

  /* 背景特效已注释 */
  // &::after {
  //   content: "";
  //   position: absolute;
  //   z-index: -1;
  //   width: 100%;
  //   // width: 680px;
  //   height: 680px;
  //   left: 50%;
  //   top: 50%;
  //   transform: translate(-50%, -50%);
  //   background: #212830;
  //   border-radius: 50%;
  //   filter: blur(500px);
  // }
}

.image {
  width: 420px;
}

@media screen and (max-width: 996px) {
  .imageWrapper {
    display: none;
  }
}
