@import "../../css/custom.scss";

.section {
  position: relative;
  background-color: var(--oomol-bg-container);

  @media (max-width: 996px) {
    padding: 0 16px;
  }
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  padding: 72px 0;
}

.titleBox {
  text-align: center;
  margin-bottom: 60px;
  max-width: 800px;
}

.title {
  font-size: 48px;
  font-weight: 800;
  color: var(--oomol-text-primary);
  margin-bottom: 16px;

  @media (max-width: 768px) {
    font-size: 36px;
  }
}

.subtitle {
  font-size: 20px;
  line-height: 1.5;
  color: var(--oomol-text-secondary);
  margin: 0;

  @media (max-width: 768px) {
    font-size: 18px;
  }
}

.image-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.halo {
  max-width: 1280px;
  position: relative;
  display: flex;
  justify-content: center;

  /* 背景特效已注释 */
  // &::before {
  //   content: "";
  //   position: absolute;
  //   z-index: -1;
  //   width: 50%;
  //   height: 500px;
  //   left: 85px;
  //   bottom: -85px;
  //   background: linear-gradient(270deg, #7d7fe9 0%, #7d7fe9 100%);
  //   border-radius: 50%;
  //   filter: blur(500px);
  //   opacity: 0.35;

  //   @media screen and (max-width: 996px) {
  //     display: none;
  //   }
  // }

  // &::after {
  //   content: "";
  //   position: absolute;
  //   z-index: -1;
  //   width: 50%;
  //   height: 500px;
  //   right: 85px;
  //   bottom: -85px;
  //   background: linear-gradient(270deg, #7dc7e9 0%, #7dc7e9 100%);

  //   border-radius: 50%;
  //   filter: blur(500px);
  //   opacity: 0.35;

  //   @media screen and (max-width: 996px) {
  //     display: none;
  //   }
  // }
}

.video {
  max-width: 1280px;
  border-radius: 10px;
}