/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.sectionOne {
    background-color: #383970;
}

.sectionOneBox {
    display: flex;
    flex-direction: row;
    height: 600px;
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.sectionOneLeft {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    /*background-color: red;*/
}

.sectionOneLeftBox {
    width: 500px;
    height: 280px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 24px;
    color: white;
}

.sectionOneLeftTitle {
    font-size: 32px;
    font-weight: bold;
}

.sectionOneLeftInner {
    font-size: 18px;
    margin-top: 12px;
}

.sectionOneLeftBtn {
    width: 180px;
    height: 54px;
    font-size: 18px;
    margin-top: 24px;
    background-color: white;
    border-color: white;
    color: #383970;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.sectionOneRight {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
}

.sectionOneRightImage {
    width: 720px;
    margin-left:120px;
}

.sectionTwo {
    display: flex;
    justify-content: center;
    height: 380px;
}

.sectionTwoBox {
    width: 1200px;
    display: flex;
}

.sectionTwoSmall {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionTwoLarge {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionTwoLargeBox {
    width: 480px;
}

.sectionTwoLargeTitle {
    font-size: 26px;
    font-weight: bold;
}

.sectionTwoLargeInner {
    font-size: 16px;
    margin-top: 12px;
}

.sectionDownload {
    display: flex;
    flex-direction: row;
    height: 380px;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
}

.sectionFooter {
    width: 100%;
    height: 420px;
    background-color: #383970;
    color: white;
}

.sectionDownloadCell {
    width: 180px;
    height: 160px;
    margin-left: 24px;
    margin-right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sectionDownloadBtn {
    width: 180px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #383970;
    color: white;
    margin-left: 24px;
    margin-right: 24px;
}

@media screen and (max-width: 996px) {
    .heroBanner {
        padding: 2rem;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}
