/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.sectionOne {
    background-color: white;
    display: flex;
    /*flex-direction: row;*/
    /*height: 1000px;*/
    justify-content: center;
}

.sectionOneSide {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: yellow;*/
}

.sectionOneBox {
    display: flex;
    /*flex-direction: column;*/
}

.sectionOneMid {
    display: flex;
    flex-direction: column;
    width: 1080px;
    padding-top: 72px;
    padding-bottom: 88px;
    /*background-color: yellow;*/
}

.sectionOneText {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sectionOneTextBox {
    width: 800px;
    height: 280px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.sectionOneTextTitle {
    font-size: 48px;
    font-weight: bold;
}

.sectionOneTextInner {
    font-size: 18px;
    margin-top: 12px;
}

.sectionOneBtnBox {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    margin-bottom: 36px;
}

.sectionOneBtn {
    width: 120px;
    margin-left: 12px;
    margin-right: 12px;
}

.sectionOneImageBox {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionOneImage {
    width: 1080px;
}

.sectionTwo {
    display: flex;
    justify-content: center;
    height: 420px;
    flex-direction: column;
    align-items: center;
}

.sectionTitle {
    width: 100%;
    height: 160px;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionInner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionCell {
    width: 360px;
    height: 100%;
    margin-left: 48px;
    margin-right: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.30);
}

.scenes {
    width: 100%;
    padding-bottom: 64px;
    /*margin-top: 64px;*/
    background-color: rgb(249, 249, 249);
}

.scenesImage {
    width: 100%;
    /*height: 180px;*/
    /*background-color: red;*/
}

.scenesText {
}

.scenesTextTitle {
    margin-top: 12px;
    font-size: 18px;
}

.scenesTextInner {
    margin-top: 8px;
    font-size: 14px;
    margin-bottom: 20px;
    padding-left: 12px;
    padding-right: 12px;
}

.sectionTwoBox {
    width: 1200px;
    display: flex;
}

.sectionTwoSmall {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionTwoLarge {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionTwoLargeBox {
    width: 480px;
}

.sectionTwoLargeTitle {
    font-size: 26px;
    font-weight: bold;
}

.sectionTwoLargeInner {
    font-size: 16px;
    margin-top: 12px;
}

.sectionDownload {
    display: flex;
    flex-direction: row;
    height: 420px;
    align-items: center;
    justify-content: center;
    background-color: rgb(249, 249, 249);
}

.sectionDownloadCell {
    width: 180px;
    height: 160px;
    margin-left: 24px;
    margin-right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sectionDownloadCellBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    flex-direction: column;
}

.sectionDownloadBtn {
    width: 120px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7D7FE9;
    color: white;
    margin-left: 24px;
    margin-right: 24px;
    border-radius: 4px;
}

@media screen and (max-width: 996px) {
    .heroBanner {
        padding: 2rem;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}
