.box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about {
  width: 100%;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 72px;
  padding-bottom: 72px;
  .title {
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 24px;
  }
  .description {
    font-size: 16px;
  }
}

.about-left {
  width: 480px;
  padding-right: 42px;
}

.about-right {
  display: flex;
  align-items: center;
}
