.container {
  max-width: 413px;
  max-height: 170px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
  padding: 30px;
  background-color: var(--oomol-bg-elevated);
}

.icon {
  font-size: 48px;
  color: var(--oomol-primary);
}

.content {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: var(--oomol-text-secondary);
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
