@use "../../css/custom.scss" as *;

.sectionTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 14px;
  font-size: 48px;
  line-height: 48px;
  font-weight: 800;

  @include phone {
    margin-top: 0;
  }

  @include phone-middle {
    margin-top: 0;
  }

  @include phone-large {
    margin-top: 0;
  }
}

.sectionSubtitle {
  max-width: 640px;
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  padding-top: 14px;

  @include linearGradientColor;
}

.create {
  width: 100%;
  padding-top: 36px;
  padding-bottom: 36px;
}

.create-mid {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  @include desktop {
    max-width: 1280px;
    margin: 0 auto;
  }

  @media (max-width: 1280px) {
    padding: 0 24px;
  }
}

.image-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
  margin-top: 72px;
}

.halo {
  max-width: 1280px;
  position: relative;
  display: flex;
  justify-content: center;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 50%;
    height: 500px;
    left: 85px;
    bottom: -85px;
    background: linear-gradient(270deg, #7d7fe9 0%, #7d7fe9 100%);
    border-radius: 50%;
    filter: blur(500px);
    opacity: 0.35;

    @media screen and (max-width: 996px) {
      display: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 50%;
    height: 500px;
    right: 85px;
    bottom: -85px;
    background: linear-gradient(270deg, #7dc7e9 0%, #7dc7e9 100%);

    border-radius: 50%;
    filter: blur(500px);
    opacity: 0.35;

    @media screen and (max-width: 996px) {
      display: none;
    }
  }
}

.video {
  max-width: 1280px;
  border-radius: 10px;
}
