.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*margin-top: 36px;*/
}

.center {
}

.content {
    width: 1200px;
    /*height: 360px;*/
    margin-top: 72px;
    margin-bottom: 72px;
    display: flex;
    justify-content: center;
}

.leftBox {
    width: 340px;
    height: 100%;
    margin-right: 60px;
}

.leftBoxLogo {
    display: flex;
    flex-direction: row;
}

@media screen and (min-width: 1000px) {
    .content {
        grid-template-areas:
        "logo logo"
        "tagline links";
    }
}

.logo {
    width: 96px;
}

.tagline {
    margin-top: 12px;
    font-size: 16px;
    font-weight: 100;
}

.githubButton {
    justify-self: flex-start;
    align-self: flex-end;
}

.githubButton:hover {
}

.links {
    width:800px;
    height: 100%;
    display: flex;
    flex-direction: row;
}

@media screen and (min-width: 700px) {
    .links {
    }
}

.category {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1;
}

.title {
    font-size: 14px;
    font-weight: bolder;
    /*background-color: yellow;*/
}

.item {
    font-size: 14px;
    line-height: 32px;
}

.link {
    font-weight: lighter;
    opacity: 0.4;
    color: black;
}

.subscribe {
}

.subscribeInputs {
}

.subscribeInputs input {
}

.subscribeText {
}

.subscribeSubmit {
}

:global(html[data-theme="light"]) .subscribeSubmit {
}

.items {
    /*background-color: #7D7FE9;*/
}

.border {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 72px;
}

.bottom {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
}

.bottomLeft {
    width: 72px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bottomInfo {
    font-size: 14px;
    opacity: 0.48;
}

.iconOutBox {
    width: 200px;
    display: flex;
    align-items: center;
    height: 48px;
    margin-top: 24px;
}


.iconBox {
    height: 48px;
    margin-right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.48;
    /*background-color: #7D7FE9;*/
}

.bottomRight {
    width: 72px;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    opacity: 0.48;
}
